<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" />
    <title>Sign In</title>
  </head>
  <body>
    <h1 class="h1-sign">Welcome</h1>
    <form action="/auth/sign-in" method="POST" class="">
      <h2 class="h2-sign">Sign In</h2>
      <!-- Hidden input for CSRF token -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <div class="form-grid-auth">
        <div class="grid-item-auth">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" required />
        </div>

        <div class="grid-item-auth">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required />
        </div>

        <div class="grid-item-auth">
          <button type="submit" class="submit-btn">Sign In</button>
        </div>
      </div>
    </form>
  </body>
</html>
