<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="POST" class="">
      <!-- Hidden input for CSRF token -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

      <div class="form-grid-auth">
        <div class="grid-item-auth">
          <div class="straightenout">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required />

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />

            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              required
            />
          </div>
        </div>

        <button type="submit" class="submit-btn">Sign Up</button>
      </div>
    </form>
  </body>
</html>
