<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <h1 class="h1-index">HSE Event Tracker</h1>
    <h2 class="h2-index">Welcome</h2>
    <div class="index-grid">
      <div class="index-grid-item">Col 1, Row 1</div>
      <div class="index-grid-item">Col 2, Row 1</div>
      <div class="index-grid-item">Col 3, Row 1</div>
      <div class="index-grid-item">Col 4, Row 1</div>
      <div class="index-grid-item">Col 5, Row 1</div>
      <div class="index-grid-item">Col 1, Row 2</div>
      <!-- <div class="index-grid-item">Col 2, Row 2</div> -->
      <div class="index-grid-item">Col 3, Row 2</div>
      <div class="index-grid-item">Col 4, Row 2</div>
      <div class="index-grid-item">Col 5, Row 2</div>
      <div class="index-grid-item">Col 1, Row 3</div>
      <div class="index-grid-item">Col 2, Row 3</div>
      <!-- <div class="index-grid-item">Col 3, Row 3</div> -->
      <div class="index-grid-item">Col 4, Row 3</div>
      <div class="index-grid-item">Col 5, Row 3</div>
      <div class="index-grid-item">Col 1, Row 4</div>
      <div class="index-grid-item">Col 2, Row 4</div>
      <div class="index-grid-item">Col 3, Row 4</div>
      <div class="index-grid-item">Col 4, Row 4</div>
      <div class="index-grid-item">Col 5, Row 4</div>

      <a class="index-defButton1" href="/auth/sign-up">Sign up</a>
      <a class="index-defButton2" href="/auth/sign-in">Sign in</a>
    </div>
  </body>
</html>
`
