<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <h1 class="h1-index">HSE Event Tracker</h1>
 
    <div class="index-grid">
      <div class="index-grid-item"></div>
      <div class="index-grid-item">Health</div>
      <div class="index-grid-item">Safety</div>
      <div class="index-grid-item">Environment</div>
      <div class="index-grid-item"></div>
      <div class="index-grid-item"></div>
      <!-- <div class="index-grid-item">Col 2, Row 2</div> -->
      <div class="index-grid-item"></div>
      <div class="index-grid-item"></div>
      <div class="index-grid-item"></div>
      <div class="index-grid-item">HR</div>
      <div class="index-grid-item">Customer Service</div>
      <!-- <div class="index-grid-item">Col 3, Row 3</div> -->
      <div class="index-grid-item">Shop Floor</div>
      <div class="index-grid-item">Warehouse</div>
      <div class="index-grid-item"></div>
      <div class="index-grid-item">Safe Work</div>
      <div class="index-grid-item">Healthy Life</div>
      <div class="index-grid-item">Sustainable Future</div>
      <div class="index-grid-item"></div>

      <a class="index-defButton1" href="/auth/sign-up">Sign up</a>
      <a class="index-defButton2" href="/auth/sign-in">Sign in</a>
    </div>
  </body>
</html>
`
