<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body class="index-body">
    <!-- Background box -->
    <div class="colorBack"></div>

    <h1 class="centered-text">HSE Event Tracker</h1>
    <h2 class="subheader">Welcome</h2>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <p>
      <div class="buttonContainer">
      <a class="signup-link" href="/auth/sign-up">Sign up</a>
      <a class="signin2-link" href="/auth/sign-in">Sign in</a>
    </div>
    </p>
  </body>
</html>