<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <title>Home Page</title>
  </head>
  <body class="index-body">
    <div class="container">
      <div class="auth-links">
        <p>
          <a class="signup-link" href="/auth/sign-up">Sign up</a>
          <a class="signin-link" href="/auth/sign-in">Sign in</a>
        </p>
      </div>
      <div class="index-container">
        <div class="text-container">
          <h1 class="centered-text">Welcome to Your</h1>
          <h2 class="subheader">HSE Event Tracker</h2>
        </div>
      </div>
    </div>
  </body>
</html>
