<!DOCTYPE html>
<html>
  <head>
    <title>Test Navbar</title>
  </head>
  <body>
    <h1>Test Page</h1>
    <%- include("partials/_navbar.ejs") %>
    <p>Below should be the navbar.</p>
  </body>
</html>
