<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../stylesheets/style.css" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Delete Records</title>
</head>
<body>
  <%- include("../partials/_navbar.ejs") %>
  <h1>Delete Your GoodCatch Records</h1>
  <% if (goodCatches.length === 0) { %>
    <p>No records to delete.</p>
  <% } else { %>
    <ul>
      <% goodCatches.forEach(item => { %>
        <li>
          <strong>Site:</strong> <%= item.site %> - 
          <form action="/goodCatch/<%= goodCatch._id %>?_method=PUT" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
