<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create New GoodCatch</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="form-container-new">
      <h1 class="h1-create">Create a New GoodCatch</h1>
      <form action="/goodCatch" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="data-grid">
          <div class="data-grid-item">
            <label for="site">Site</label>
            <select id="site" name="site" required>
              <option value="Baldwin Park">Baldwin Park</option>
              <option value="Carpinteria">Carpinteria</option>
              <option value="Boston">Boston</option>
              <option value="Shenzhen">Shenzhen</option>
              <option value="Minnetonka">Minnetonka</option>
            </select>
          </div>
          <div class="data-grid-item">
            <label for="department">Department</label>
            <select id="department" name="department" required>
              <option value="Warehouse">Warehouse</option>
              <option value="Shop Floor">Shop Floor</option>
              <option value="HR">HR</option>
              <option value="Customer Service">Customer Service</option>
              <option value="Front Office">Front Office</option>
            </select>
          </div>
          <div class="data-grid-item">
            <label for="category">Category</label>
            <select id="category" name="category" required>
              <option value="Slip and Fall">Slip and Fall</option>
              <option value="Toxic Spill">Toxic Spill</option>
              <option value="Unsafe Storage">Unsafe Storage</option>
              <option value="Equipment Failure">Equipment Failure</option>
            </select>
          </div>
          <div class="data-grid-item">
            <label for="area">Area</label>
            <input type="text" id="area" name="area" required />
          </div>
          <div class="data-grid-item">
            <label for="description">Event Description</label>
            <textarea id="description" name="description" required></textarea>
          </div>

          <button class="defButton" , type="submit">Create</button>
        </div>
      </form>
    </div>
  </body>
</html>
